// Our variables
//$base-font-family: Helvetica, Arial, sans-serif;
$base-font-family: "Segoe UI","Segoe wp","Segoe Regular", sans-sarif ;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7em;

$spacing-unit:     30px;
$base-font-color:  #666;

$primary-color:  	#00aff0;
$secondary-color:   #7fba00;
$light-color:	 	#e4eef2;
$dark-color:     	#333333;

$section-height: 400px;
//section showcase.........................


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

