<!-- this markup need a jquery function which is in js file-->

<section>
	<div class="container">
		<form action="" class="awesome-form">
			<div class="input-group">
				
				<input type="text"  />
				<label for="">Your First Name</label>
			</div>
			<div class="input-group">
				
				<input type="email" />
				<label for="">Your Last Name</label>
			</div>
			<div class="input-group">
				
				<input type="text"  />
				<label for="">Village</label>
			</div>
			<div class="input-group">
				
				<input type="text"  />
				<label for="">District</label>
			</div>

			<div class="input-group">
				
				<input type="text"  />
				<label for="">Counrty</label>
			</div>

			<div class="input-group">
				
				<input type="email" />
				<label for="">Your Email Address</label>
			</div>
			<input type="submit" value="Submit" />
		</form>
	</div>
</section>
