<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2 class="form-heading">Contact</h2>
				<form role="form">
				 <div class="form-group">
				    <label for="exampleInputName">Name</label>
				    <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Name">
				  </div>	
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				  </div>

				  <div class="form-group">
				    <label for="exampleInputPhone">Phone Number</label>
				    <input type="text" id="exampleInputPhone"class="form-control">
				    
				  </div>
				  <label >Massage</label>
				  <textarea  class="form-control"></textarea>
				  
				  <button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="col-md-4">
				<div class="block block-primary-head no-pad">
				<h3><i class="fa fa-home"></i> Our Location</h3>
				<div class="block-content">
					<ul class="list-location">
						<li><h4>Skyapp Inc</h4></li> <hr>
						<li>85/5 Dhanmondi</li>
						<li>Akbor Road</li>
						<li>Dhaka-1234</li>
						<li>Fax-00551234</li>
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>