---
layout: 
title:  "about| skyapp"
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include about/section-light.html %}
    {% include about/se-primary.html %}
    {% include about/se-main.html %}
    {% include about/se-team.html %}
    {% include about/se-testmonial.html %}
    {% include about/se-block4.html %}
   

  

    {% include layout/footer/footer2.html %}
    <script src="js/vendor/jquery/dist/jquery.js"></script>
    <script src="js/vendor/bootstrap/bootstrap.js"></script>


  </body>

</html>