/* buttons */
.btn-primary{
	background:darken($primary-color, 30%);
	@include add-border(2px, #fff,all);
	text-transform: capitalize;
	&:hover{
		@include add-border(2px, #fff,all);
		@include add-background($primary-color) ;
	}
}

.btn-secondary{
	background:darken($secondary-color, 30%);
	@include add-border(2px, #fff,all);
	text-transform: capitalize;
	&:hover{
		@include add-border(2px, #fff,all);
		@include add-background($secondary-color) ;
	}
}
	.btn-light{
	background:darken($light-color, 30%);
	@include add-border(2px, #fff,all);
	text-transform: capitalize;
	&:hover{
		@include add-border(2px, #fff,all);
		@include add-background($light-color) ;
	}
}
	.btn-dark{
	background:darken($dark-color, 30%);
	@include add-border(2px, #fff,all);
	text-transform: capitalize;
	&:hover{
		@include add-border(2px, #fff,all);
		@include add-background($dark-color) ;
	}
}