/* footer area */
.footer-main{
	@include background($dark-color);
	@include add-border(5px,$secondary-color,top);
	//z-index:1000;
	padding: 25px 0 15px;
	min-height: 200px;
	a{
		color: #FFF;
		
	}
	ul{
		li{
			a{
				&:hover{
				text-decoration: underline;
				background-color: transparent;
				}
		}	}
	}
}
section{
	background: #FFF;
}
section.last{
	margin-bottom: 202px;
}
.fixed{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index:1000;
}
.hide-footer{
	z-index:-1;
}