/* navigation */
.navbar{
	//width: 80%;
	margin: auto;
	@include add-border(5px,$light-color, "left-right");
	min-height: 60px;
	background: #fff;
	margin-bottom: 30px;
	border-color: $light-color;
	
	a{
		color: $primary-color !important;
		font-size: 20px;
		letter-spacing: -0.5px;
		//padding:20px 0 24px 0 !important;
	}
}

