<section class="section-primary">
	<div class="container">
		<h2 class="page-header">What we do</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="block block-icon">
					<div class="icon"><i class="fa fa-home fa-3x"></i></div>
					<div class="icon-content">
						<h3>lorem Ipsom</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, minus.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block block-icon">
					<div class="icon"><i class="fa fa-home fa-3x"></i></div>
					<div class="icon-content">
						<h3>lorem Ipsom</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, minus.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block block-icon">
					<div class="icon"><i class="fa fa-home fa-3x"></i></div>
					<div class="icon-content">
						<h3>lorem Ipsom</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, minus.</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<div class="block block-icon">
					<div class="icon"><i class="fa fa-home fa-3x"></i></div>
					<div class="icon-content">
						<h3>lorem Ipsom</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, minus.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block block-icon">
					<div class="icon"><i class="fa fa-home fa-3x"></i></div>
					<div class="icon-content">
						<h3>lorem Ipsom</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, minus.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block block-icon">
					<div class="icon"><i class="fa fa-home fa-3x"></i></div>
					<div class="icon-content">
						<h3>lorem Ipsom</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, minus.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>