<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2 class="page-heading heading-primary-a">Services</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maxime voluptatem aliquid earum beatae. Quia, quo asperiores, tempora, autem quasi consequuntur adipisci nemo molestias deleniti accusamus ex unde impedit sunt dolores nesciunt culpa? Sapiente harum dicta quisquam dolorum dolorem quibusdam, mollitia illum ratione consequatur quasi magni, </p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit excepturi et earum repellat possimus odio asperiores quam. Consequatur natus ipsam eligendi amet, enim dicta a, praesentium, voluptatibus, accusantium aspernatur. Voluptatum aliquam assumenda culpa modi amet, officiis quo beatae natus, dicta illo quidem, adipisci eius.</p>
				

				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Service One
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. VHS.
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Service Two
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.  VHS.
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Service Three
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. VHS.
				      </div>
				    </div>
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tab tab-primary" role="tabpanel" data-example-id="togglable-tabs">
				    <ul id="myTab" class="nav nav-tabs" role="tablist">
				      <li role="presentation" class=""><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Home</a></li>
				      <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">About</a></li>
				      <li role="presentation" class="active"><a href="#last-tab" role="tab" id="profile-tab" data-toggle="tab" aria-controls="last-tab" aria-expanded="false">services</a></li>
				    </ul>
				    <div id="myTabContent" class="tab-content">
				      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
				        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
				      </div>
				      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
				        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
				      </div>
				      <div role="tabpanel" class="tab-pane fade" id="last-tab" aria-labelledby="dropdown1-tab">
				        <p> last li Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
				      </div>
				    
				    </div>
				</div>
				<div class="block block-primary-head no-pad">
					<h3><i class="fa fa-pencil">Quick Quotes</i></h3>
					<div class="block-content">
						<form>
						 <div class="form-group">
						    <label for="exampleInputName">Name</label>
						    <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Name">
						  </div>	
						  <div class="form-group">
						    <label for="exampleInputEmail1">Email address</label>
						    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
						  </div>

						  <div class="form-group">
						    <label for="exampleInputPhone">Phone Number</label>
						    <input type="text" id="exampleInputPhone"class="form-control">
						    
						  </div>
						  <label >Massage</label>
						  <textarea  class="form-control"></textarea>
						  
						  <button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>