<nav>
		
		<ul class="dropdown cf">
			<li><a href="index.html">home</a></li>
			<li><a href="service.html">service</a>
					<ul>
						<li><a href="">subDrop</a></li>
						<li><a href="">subDrop</a></li>
						<li><a href="">subDrop</a></li>	
					</ul>
			</li>
			<li><a href="">blog</a>
				<ul>
					<li><a href="">dropdown</a></li>
					<li><a href="">dropdown</a>
						<ul>
							<li><a href="">subDrop</a></li>
							<li><a href="">subDrop</a></li>
							<li><a href="">subDrop</a></li>
							<li><a href="">subDrop</a></li>
						</ul>
					</li>
					<li><a href="">dropdown</a>
							<ul>
								<li><a href="">subDrop</a></li>
								<li><a href="">subDrop</a></li>
								<li><a href="">subDrop</a></li>	
							</ul>
					</li>
					<li><a href="">dropdown</a>
							<ul>
								<li><a href="">subDrop</a></li>	
							</ul>
					</li>
				</ul>
			</li>
			<li><a href="">client</a>
				<ul>
				<li><a href="">dropdown</a></li>
				<li><a href="">dropdown</a></li>
				<li><a href="">dropdown</a></li>
				<li><a href="">dropdown</a></li>
			</ul>
			</li>
			<li><a href="contact.html">contact</a></li>
		</ul>
</nav>	