<nav>
		
		<ul class="megamenu cf">
			<li><a href="index.html">home</a></li>
			<li><a href="service.html">service</a>
				<ul class="submenu">
					<li><a href="">submenu product</a>
						<ul class="submenu">
							<li><a href="">product items</a></li>
							<li><a href="">product items</a></li>
							<li><a href="">product items</a></li>
							<li><a href="">product items</a></li>
							<li><a href="">product items</a></li>
							<li><a href="">product items</a></li>
						</ul>
					</li>
					<li><a href="">sub promotion</a>
						<ul class="submenu">
							<li><a href="">promotion items</a></li>
							<li><a href="">promotion items</a></li>
							<li><a href="">promotion items</a></li>
							<li><a href="">promotion items</a></li>
							
						</ul>
					</li>
					<li><a href="">sub electronics</a>
						<ul class="submenu">
							<li><a href="">electronics items</a></li>
							<li><a href="">electronics items</a></li>
							<li><a href="">electronics items</a></li>
							<li><a href="">electronics items</a></li>
							<li><a href="">electronics items</a></li>
							<li><a href="">electronics items</a></li>
						</ul>
					</li>
					<li><a href="">sub Household</a>
						<ul class="submenu">
							<li><a href="">Household items</a></li>
							<li><a href="">Household items</a></li>
							<li><a href="">Household items</a></li>
							
							<li><a href="">Household items</a></li>
							<li><a href="">Household items</a></li>
						</ul>
					</li>
					<!-- <li><a href="">submenu laxury items</a>
						<ul class="submenu">
							<li><a href="">submenu items</a></li>
							<li><a href="">submenu items</a></li>
							<li><a href="">submenu items</a></li>
							<li><a href="">submenu items</a></li>
							<li><a href="">submenu items</a></li>
							<li><a href="">submenu items</a></li>
						</ul>
					</li> -->
				</ul>
			</li>
			<li><a href="">blog</a></li>
			<li><a href="">client</a></li>
			<li><a href="">contact</a></li>
		</ul>
</nav>		