<div class="container">
	<nav>
		<ul class="nav">
			<li><a href="#">news</a></li>
			<li><a href="#">Metro</a>
				<div class="nav-main">
						<div class="nav-devider"></div>
						<div class="nav-focus-art">
							<img src="http://lorempixel.com/113/111/technics" alt="artical image" class="nav-art-img">
							<span class="nav-art-author">Eric schmdit</span><br>
							<span class="nav-art-title">We missed up the comments</span>
						</div>
						<div class="nav-devider2"></div>
						<div class="nav-focus-art">
							<img src="http://lorempixel.com/113/111/animals" alt="artical image" class="nav-art-img">
							<span class="nav-art-author">Imran MH</span><br>
							<span class="nav-art-title">I am willing to hear from you</span>
						</div>
						<div class="nav-devider2"></div>
						<div class="nav-headlines">
							<div class="nav-headlines-links">More Headlines</div>
							<div class="nav-headlines-links">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, distinctio, ratione. Nihil.</div>
							<div class="nav-headlines-links">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, distinctio, ratione. Nihil.</div>
							<div class="nav-headlines-links">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, distinctio, ratione. Nihil.</div>
							<div class="nav-headlines-links">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, distinctio, ratione. Nihil.</div>
						</div>
						<div class="nav-devider2"></div>
						<div class="nav-links">
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
						</div>

						<div class="nav-links">
							<div class="nav-empty-cell"></div>
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
							<div class="nav-link">Lorem ipsum dolor sit amet.</div>
						</div>


				</div>
			</li>
			<li><a href="#">Business</a></li>
			<li><a href="#">Politices</a></li>
			<li><a href="#">Sports</a></li>
			<li><a href="#">Lifestyle</a></li>
			<li><a href="#">Opinion</a></li>
			<li><a href="#">Magazine</a></li>
		</ul>
	</nav>
</div>