<section>

		<div class="alert full">
			we areworking on this site weekend
			<a href="#" class="close">&times;</a>
		</div>
		<div class="container">
	      <div class="left">
	      	<h2>Left side of the page Amizing!!</h2>
	      	<div class="alert success">
				Yes you succesfully  pass the validacation
				<a href="#" class="close">&times;</a>
			</div>
	      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet molestiae earum hic magnam laborum libero temporibus quam accusamus odio facere.</p>
	      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quibusdam excepturi ipsa, provident, dolor unde.</p>
	      </div>
	      <div class="right">
	      	<h2>Left side of cool page  yeah !!</h2>
	      	<div class="alert error">
				Something going horriblely wrong today
				<a href="#" class="close">&times;</a>
			</div>
	      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia culpa nobis officiis pariatur saepe consequuntur ipsa dolorem, facere perferendis ab! Sunt nemo odit vel.</p>
	      </div>
	    </div>
	</section>