<section >
	<div class="container">
		<div class="row">
			<h2 class="page-heading heading-dark-a">meet Out team</h2>
			<div class="col-md-3">
				<div class="block block-light block-center block-image">
					<img src="/images/avatar_3.jpg" alt="jon dow">
					<h3>John Doe</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, mollitia?</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="block block-center block-image">
					<img src="/images/avatar_7.jpg" alt="jon dow">
					<h3>Alex Doe</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, mollitia?</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="block block-light block-center block-image">
					<img src="/images/avatar_5.jpg" alt="jon dow">
					<h3>Traves Nelsen</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, mollitia?</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="block block-center block-image">
					<img src="/images/avatar_6.jpg" alt="jon dow">
					<h3>Scott Tolescky</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, mollitia?</p>
				</div>
			</div>
		</div>
	</div>
</section>