<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include home/showcase.html %}
    {% include home/section-light.html %}
    {% include home/se-block3.html %}
    {% include home/se-block4.html %}
    {% include home/se-block5.html %}
    {% include home/se-block6.html %}

   <!--  <div class="page-content">
     <div class="wrapper">
       {{ content }}
     </div>
   </div> -->

    {% include layout/footer/footer3.html %}
    <script src="js/vendor/jquery/dist/jquery.js"></script>
    <script src="js/vendor/bootstrap/bootstrap.js"></script>
     <script src="js/init.js"></script>

  </body>

</html>
