<section class="section-light ext-pad">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2 class="page-heading">use <span class="em-primary">skyapp</span>  for all devices</h2>
				<ul class="list list-feature fa-ul">
					<li><i class="fa fa-check fa-3x cp"></i><span>Lorem ipsum dolor.</span></li>
					<li><i class="fa fa-check fa-3x cp"></i><span>Lorem ipsum dolor.</span></li>
					<li><i class="fa fa-check fa-3x cp"></i><span>Lorem ipsum dolor.</span></li>
					<li><i class="fa fa-check fa-3x cp"></i><span>Lorem ipsum dolor.</span></li>
				</ul>
				<a href="#" class="btn btn-primary btn-lg"> Read more</a>
			</div>
			<div class="col-md-6">
				<img src="/images/lcd-display.jpeg" alt="" class="device">
			</div>
		</div>
	</div>
</section>