<section class="showcase">
	<div class="container showcase-content">
		<div class="showcasetext">
			<h1>Bootstrap HTML5 Template</h1>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong>  elit. Aliquam blanditiis soluta doloribus maxime hic numquam ad temporibus excepturi illo dignissimos vitae quae earum commodi, nobis minima reprehenderit ducimus eligendi quidem!</p>
		</div>
		
		<div class="show_img_wrap">
			<div class="download">
				<a href=""><i class="fa fa-download fa-3x"></i></a>
				<h5>Available to <strong>Download Now</strong></h5>
			</div>
			<div class="app_store">
				<a href=""><i class="fa fa-mobile fa-3x"></i></a>
				<h5>Available to the<strong>App Store</strong></h5>
			</div>
		</div>
	</div>
	
</section>
