<section class="showcase">
	<div class="container showcase-content">
		<h1>Bootstrap HTML5 Template</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong>  elit. Aliquam blanditiis soluta doloribus maxime hic numquam ad temporibus excepturi illo dignissimos vitae quae earum commodi, nobis minima reprehenderit ducimus eligendi quidem!</p>
	</div>
	<div class="download">
		<a href="#"><img src="/images/" alt=""></a>
		<a href="#"><img src="/images/sun.png" alt=""></a>
	</div>
</section>
